<app-navbar></app-navbar>

<div class="container" style="padding-top: 5%;">
    <div class="alert alert-success">
        <strong>Warning!</strong> You have new requests
      </div>     
      
      <p>New Request(s)</p>

      <div>
        <ul class="list-group">
            <li class="list-group-item"><strong>Client's Name</strong>: Nikiwe Nyoni</li>
            <li class="list-group-item"><strong>Address</strong>: 120 James Clark Pretoria</li>
            <li class="list-group-item"><strong>Payment Type:</strong> Cash</li>
            <li class="list-group-item"><strong>Issue: </strong> Breaks Failed</li>
            <li class="list-group-item"><strong>Vehicle</strong> VW Polo GTI 2021 Model</li>
            <button class="glyphicon glyphicon-thumbs-up btn btn-success" type="button">Accept</button> --  <button type="button" class="glyphicon glyphicon-thumbs-down btn btn-danger">Reject</button>    

                   
          </ul>
      </div>

</div>